In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('Nvidia-Tweets.csv',engine='python')

In [8]:
df.shape

(100847, 5)

In [16]:
columns = df.columns.unique()
print(columns)

Index(['Unnamed: 0', 'Datetime', 'Tweet Id', 'Text', 'Username'], dtype='object')

In [20]:
dates = df['Datetime'].unique()
len(dates)

98266

In [22]:
df.head()

,Unnamed: 0,Datetime,Tweet Id,Text,Username
0,0,2023-02-06 10:07:17+00:00,1.622537e+18,$nvda Top analyst price target for next week ...,RyderJohnston6
1,1,2023-02-06 10:06:30+00:00,1.622537e+18,$nvda Top analyst price target for this week.ðŸ”—...,k_mebane
2,2,2023-02-06 10:06:08+00:00,1.622537e+18,$nvda Top analyst price target for next week.....,RonaldBevan2
3,3,2023-02-06 10:05:43+00:00,1.622537e+18,$NVDA Top analyst target price for next weekðŸš€ ...,Eva077777
4,4,2023-02-06 10:03:49+00:00,1.622537e+18,$rsls rebound ðŸš¨ðŸš¨ðŸš€ðŸš€ðŸš€\nâ€”â€”â€”â€”\n\n$EDSA\n$KODK\n$DO...,MrBlackTrading

In [24]:
df['Datetime']=pd.to_datetime(df['Datetime'],errors='coerce').dt.date
df.head()

,Unnamed: 0,Datetime,Tweet Id,Text,Username
0,0,2023-02-06,1.622537e+18,$nvda Top analyst price target for next week ...,RyderJohnston6
1,1,2023-02-06,1.622537e+18,$nvda Top analyst price target for this week.ðŸ”—...,k_mebane
2,2,2023-02-06,1.622537e+18,$nvda Top analyst price target for next week.....,RonaldBevan2
3,3,2023-02-06,1.622537e+18,$NVDA Top analyst target price for next weekðŸš€ ...,Eva077777
4,4,2023-02-06,1.622537e+18,$rsls rebound ðŸš¨ðŸš¨ðŸš€ðŸš€ðŸš€\nâ€”â€”â€”â€”\n\n$EDSA\n$KODK\n$DO...,MrBlackTrading

In [30]:
dates = df['Datetime'].unique()

len(dates)

79

In [32]:
dates

array([datetime.date(2023, 2, 6), NaT, datetime.date(2023, 2, 5),
       datetime.date(2023, 2, 4), datetime.date(2023, 2, 3),
       datetime.date(2023, 2, 2), datetime.date(2023, 2, 1),
       datetime.date(2023, 1, 31), datetime.date(2023, 1, 30),
       datetime.date(2023, 1, 29), datetime.date(2023, 1, 28),
       datetime.date(2023, 1, 27), datetime.date(2023, 1, 26),
       datetime.date(2023, 1, 25), datetime.date(2023, 1, 24),
       datetime.date(2023, 1, 23), datetime.date(2023, 1, 22),
       datetime.date(2023, 1, 21), datetime.date(2023, 1, 20),
       datetime.date(2023, 1, 19), datetime.date(2023, 1, 18),
       datetime.date(2023, 1, 17), datetime.date(2023, 1, 16),
       datetime.date(2023, 1, 15), datetime.date(2023, 1, 14),
       datetime.date(2023, 1, 13), datetime.date(2023, 1, 12),
       datetime.date(2023, 1, 11), datetime.date(2023, 1, 10),
       datetime.date(2023, 1, 9), datetime.date(2023, 1, 8),
       datetime.date(2023, 1, 7), datetime.date(2023, 1, 6),
       datetime.date(2023, 1, 5), datetime.date(2023, 1, 4),
       datetime.date(2023, 1, 3), datetime.date(2023, 1, 2),
       datetime.date(2023, 1, 1), datetime.date(2022, 12, 31),
       datetime.date(2022, 12, 30), datetime.date(2022, 12, 29),
       datetime.date(2022, 12, 28), datetime.date(2022, 12, 27),
       datetime.date(2022, 12, 26), datetime.date(2022, 12, 25),
       datetime.date(2022, 12, 24), datetime.date(2022, 12, 23),
       datetime.date(2022, 12, 22), datetime.date(2022, 12, 21),
       datetime.date(2022, 12, 20), datetime.date(2022, 12, 19),
       datetime.date(2022, 12, 18), datetime.date(2022, 12, 17),
       datetime.date(2022, 12, 16), datetime.date(2022, 12, 15),
       datetime.date(2022, 12, 14), datetime.date(2022, 12, 13),
       datetime.date(2022, 12, 12), datetime.date(2022, 12, 11),
       datetime.date(2022, 12, 10), datetime.date(2022, 12, 9),
       datetime.date(2022, 12, 8), datetime.date(2022, 12, 7),
       datetime.date(2022, 12, 6), datetime.date(2022, 12, 5),
       datetime.date(2022, 12, 4), datetime.date(2022, 12, 3),
       datetime.date(2022, 12, 2), datetime.date(2022, 12, 1),
       datetime.date(2022, 11, 30), datetime.date(2022, 11, 29),
       datetime.date(2022, 11, 28), datetime.date(2022, 11, 27),
       datetime.date(2022, 11, 26), datetime.date(2022, 11, 25),
       datetime.date(2022, 11, 24), datetime.date(2022, 11, 23),
       datetime.date(2022, 11, 22), datetime.date(2022, 11, 21)],
      dtype=object)

In [34]:
def filter_group(group):
    n=len(group)
    if n>=300:
        return group.sample(n=min(n,400),random_state=42)
    else:
        return pd.DataFrame()
limited_data=df.groupby('Datetime',group_keys=False).apply(filter_group)
limited_data.shape

/var/folders/y9/rm6ywzws5czgbzjyb7d2cny00000gn/T/ipykernel_35171/1875064763.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  limited_data=df.groupby('Datetime',group_keys=False).apply(filter_group)

(31122, 5)

In [38]:
date=limited_data['Datetime'].unique()
len(date)

78

In [40]:
date

array([datetime.date(2022, 11, 21), datetime.date(2022, 11, 22),
       datetime.date(2022, 11, 23), datetime.date(2022, 11, 24),
       datetime.date(2022, 11, 25), datetime.date(2022, 11, 26),
       datetime.date(2022, 11, 27), datetime.date(2022, 11, 28),
       datetime.date(2022, 11, 29), datetime.date(2022, 11, 30),
       datetime.date(2022, 12, 1), datetime.date(2022, 12, 2),
       datetime.date(2022, 12, 3), datetime.date(2022, 12, 4),
       datetime.date(2022, 12, 5), datetime.date(2022, 12, 6),
       datetime.date(2022, 12, 7), datetime.date(2022, 12, 8),
       datetime.date(2022, 12, 9), datetime.date(2022, 12, 10),
       datetime.date(2022, 12, 11), datetime.date(2022, 12, 12),
       datetime.date(2022, 12, 13), datetime.date(2022, 12, 14),
       datetime.date(2022, 12, 15), datetime.date(2022, 12, 16),
       datetime.date(2022, 12, 17), datetime.date(2022, 12, 18),
       datetime.date(2022, 12, 19), datetime.date(2022, 12, 20),
       datetime.date(2022, 12, 21), datetime.date(2022, 12, 22),
       datetime.date(2022, 12, 23), datetime.date(2022, 12, 24),
       datetime.date(2022, 12, 25), datetime.date(2022, 12, 26),
       datetime.date(2022, 12, 27), datetime.date(2022, 12, 28),
       datetime.date(2022, 12, 29), datetime.date(2022, 12, 30),
       datetime.date(2022, 12, 31), datetime.date(2023, 1, 1),
       datetime.date(2023, 1, 2), datetime.date(2023, 1, 3),
       datetime.date(2023, 1, 4), datetime.date(2023, 1, 5),
       datetime.date(2023, 1, 6), datetime.date(2023, 1, 7),
       datetime.date(2023, 1, 8), datetime.date(2023, 1, 9),
       datetime.date(2023, 1, 10), datetime.date(2023, 1, 11),
       datetime.date(2023, 1, 12), datetime.date(2023, 1, 13),
       datetime.date(2023, 1, 14), datetime.date(2023, 1, 15),
       datetime.date(2023, 1, 16), datetime.date(2023, 1, 17),
       datetime.date(2023, 1, 18), datetime.date(2023, 1, 19),
       datetime.date(2023, 1, 20), datetime.date(2023, 1, 21),
       datetime.date(2023, 1, 22), datetime.date(2023, 1, 23),
       datetime.date(2023, 1, 24), datetime.date(2023, 1, 25),
       datetime.date(2023, 1, 26), datetime.date(2023, 1, 27),
       datetime.date(2023, 1, 28), datetime.date(2023, 1, 29),
       datetime.date(2023, 1, 30), datetime.date(2023, 1, 31),
       datetime.date(2023, 2, 1), datetime.date(2023, 2, 2),
       datetime.date(2023, 2, 3), datetime.date(2023, 2, 4),
       datetime.date(2023, 2, 5), datetime.date(2023, 2, 6)], dtype=object)

In [42]:
limited_data.head()

,Unnamed: 0,Datetime,Tweet Id,Text,Username
100507,99665,2022-11-21,1.594759e+18,Trending: Semiconductor\n\n$NVDA -0.60 %\n$INT...,FrenzyCapital
100761,99917,2022-11-21,1.594714e+18,$NVDA - Above 263 - Trade Idea ðŸ’¡ - April 8 27...,anita37992698
100695,99851,2022-11-21,1.594727e+18,$NVDA some red to green strength while Semis a...,OptionsHawk
100542,99700,2022-11-21,1.594753e+18,The POWER of DCA (Dollar Cost https://t.co/TKF...,SusanSouth13
100445,99603,2022-11-21,1.594766e+18,ðŸ”¥Most active Trading Group ðŸ’¯ \nhttps://t.co/Mm...,skitontop1

In [44]:
limited_data.tail()

,Unnamed: 0,Datetime,Tweet Id,Text,Username
192,188,2023-02-06,1.622437e+18,@DBookTrading Oh he would be very disappointed...,KeanuRiches_
73,71,2023-02-06,1.622483e+18,Success Rate - 89.47%\n\n$SPX $AMZN $NFLX $GOO...,TRADEORE_
110,106,2023-02-06,1.622467e+18,#NVIDIACorp $NVDA 5 Minute Chart\n#SuperTrend ...,AbhipraGroup
274,270,2023-02-06,1.622410e+18,Best performing large cap stocks so far in 202...,marketsday
106,102,2023-02-06,1.622468e+18,1000% almost half a mile here. You in our disc...,seeashon

In [46]:
output_file_name='Processed_Nvidia_Tweets.csv'
limited_data.to_csv(output_file_name,index=False)